.main-booking-cart {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.booking-cart-containers {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:767px) {
    .booking-cart-containers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
    }
    
}

.total-cost {
    align-self: flex-start;
}

.checkout-button {
    background-color: blueviolet;
    border:none;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    transition: all 0.5s ease;
}
.checkout-button:hover {
    
    background-color: blanchedalmond;
    transform: scale(1.2);
}

.no-item-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.no-cart {
    width: 300px;
}

.home-button {
    background-color: antiquewhite;
    border: none;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: blue;
}